.about {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 2rem;
    flex: 1 auto;
}

.additional-text {
    width: 30%;
}